# ----------------------------------------------------------------------------------------------------------------------
# 队列服务: pubscriber：生产/消费；subscriber：发布/订阅；
# ----------------------------------------------------------------------------------------------------------------------
plugin-subscriber:
    queue:
        # Duration.ofSeconds
        expire-time: 300
        # ofMillis
        check-time: 295000
        # 测试队列是否开启
        consumer-master-redis-stream-listener: disable
        consumer-slave-redis-stream-listener: disable
        # 测试订阅是否开启
        master-receiver-redis: disable
        slave-receiver-redis: disable
# ----------------------------------------------------------------------------------------------------------------------
# spring 组件相关设置
# ----------------------------------------------------------------------------------------------------------------------
spring:
    data:
        # --------------------------------------------------------------------------------------------------------------
        yml-redis: config/redis.yml from assistant
        # --------------------------------------------------------------------------------------------------------------
        redis:
            client-name: ${spring.application.name}
            # 密码 没有则可以不填
            password: ${redis_aes}
            timeout: 5000
            # ----------------------------------------------------------------------------------------------------------
            # 单点配置
            host: ${redis_host}
            port: ${redis_port}
            # Redis默认情况下有16个分片，这里配置具体使用的分片，默认是0
            database: 0
            # ----------------------------------------------------------------------------------------------------------
            # 集群配置
            # cluster:
                # nodes: 127.0.0.1:6379,127.0.0.2:6379,127.0.0.3:6379,127.0.0.4:6379,127.0.0.5:6379,127.0.0.6:6379
                # 获取失败重定向次数
                # max-redirects: 3
            # ----------------------------------------------------------------------------------------------------------
            # 如果使用的jedis 则将lettuce改成jedis即可
            lettuce:
                pool:
                    # 连接池最大连接数（使用负值表示没有限制） 默认 8
                    max-active: 8
                    # 连接池中的最大空闲连接 默认 8
                    max-idle: 8
                    # 连接池中的最小空闲连接 默认 0
                    min-idle: 2
                    # 连接池最大阻塞等待时间（使用负值表示没有限制） 默认 -1，默认值请勿配置
                    # max-wait: -1
                    # 关闭超时时间 默认 100ms
                    # shutdown-timeout: 100
            # --------------------------------------------------------------------------------------------------------------
            # redis锁的生命周期 [s]
            # 默认 300s / 5分钟，意味着一个锁的业务必须5分钟内处理完成，如需调整请分配 def: 300
            lock-expire-time: 300
            # 锁等待，防止线程饥饿 [ms] def: 100 * 1000
            lock-acquire-timeout: 100000
            # 延时 ?? 后,redis锁解除 [s] def: 10
            lock-extend-time: 2
            # RoundNo 位数上限 def: 4 = [0000 ~ 9999]
            round-digLen: 4
            # redis 保留时常 [s] def: 3600
            redis-expires: 3600
# ----------------------------------------------------------------------------------------------------------------------